body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

h1 {
	text-align: center;
	color: #385dfe;
}

#container {
	position: relative;
	max-width: 320px;
	height: 480px;
	margin: 0 auto;
	text-align: center;
}

canvas {
	left: 0px;
	top: 0px;
	position: absolute;
}

#gamefield {
	border: 2px solid #385dfe;
	border-radius: 5px;
	z-index: -1;
}
#gameplay {
	z-index: 1;
	
}
#start-button {
	 position: absolute;
	 z-index: 2;
	 left: 120px;
	 top: 200px;
 }