body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

h1 {
	text-align: center;
	color: #385dfe;
}

div {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

#gamefield {
	display: block;
	margin: 0 auto 20px;
	border: 2px solid #385dfe;
	border-radius: 5px;
}
