/***General Styles***/

@font-face {
    font-family: PixelFont;
    src: url(../fonts/pixel-font/00TT.TTF);
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

h1 {
	text-align: center;
	color: #385dfe;
}

#container {
	position: relative;
	max-width: 320px;
	height: 480px;
	margin: 0 auto;
	text-align: center;
}


/***Canvas Styles***/
canvas {
	left: 0px;
	top: 0px;
	position: absolute;
}

#gamefield {
	border: 2px solid #385dfe;
	border-radius: 5px;
	z-index: -1;
}

#gameplay {
	border: 2px solid #385dfe;
	border-radius: 5px;
	z-index: 1;
	
}

/***Buttons Styles***/

button {
	 padding: 5px;
	 border: 0.23em #FDFEFD solid;
	 background-color: #E86100;
	 color: #FFFFFF;
	 font-family: PixelFont;
	 font-weight: bold;
	 font-size: 0.85em;
}

#start-button {
	 position: absolute;
	 z-index: 2;
	 left: 112px;
	 top: 200px;
	 max-width: 104px;
	 
 }